@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  --btn-primary : #243F4A;
  --icon-primary:#919296;

 
}
*{
  transition: background-color 0.2s ease-in-out;
}